<section class="supplimental">
  <div class="wrapper">
    <h1>Log In</h1>

    <p>
      Log in with your GitHub or Twitter account:
    </p>

    <ul id="login">
      <li><%= link_to "Log in via Github", github_auth_path, :class => 'btn-auth btn-github' %></li>
      <li><%= link_to "Log in via Twitter", twitter_auth_path, :class => 'btn-auth btn-twitter' %></li>
    </ul>
  </div>

  <div class="vertical-expander"></div>
</section>
