<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Welcome.</h1>
      <br>
      <p>Click the button and you're in!</p>
      <br>
      <form method="POST">
        <input type="submit" value="Log in" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>
