<ul class="comments">
</ul>

{{#if show_form}}
<form id="new-comment">
  <p>
    <textarea type="text" name="body" id="comment-body"></textarea>
  </p>

  <input type="submit" value="Post">
</form>
{{else}}
  <div>You need to sign in to create a comment.</div>
{{/if}}
