_build/
deps/
.git
.gitignore
.vagrant/
Dockerfile
Makefile
docs/
README*
test/
docker-compose.yml
assets/node_modules
priv/static/
.env
.env.*
uploads/*
volumes
.stuff
native/vt/.cargo
native/vt/.git
native/vt/target
native/vt_nif/.cargo
native/vt_nif/target
priv/native/
