*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
config/database.yml
rerun.txt
pickle-email-*.html
.jhw-cache/
config/local.yml
public/uploads/*
/bin/*
/coverage
.rbx
.env
