## Rails app
/.bundle
/.vagrant
/.rspec
/.env
/tmp/*
/log/*
/bin/*
/config/database.yml
/config/asciinema.yml
/db/*.sqlite3
/coverage
/public/uploads/*
/uploads/*

## Clojure app

/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.nrepl-history
/.dir-locals.el
/profiles.clj
/dev/resources/local.edn
/dev/src/local.clj

## Elixir app

# App artifacts
/_build
/db
/deps
/*.ez

# Generated on crash by the VM
erl_crash.dump

# Static artifacts
/node_modules

# Since we are building assets from web/static,
# we ignore priv/static. You may want to comment
# this depending on your deployment strategy.
/priv/static/

# The config/prod.secret.exs file by default contains sensitive
# data and you should not commit it into version control.
#
# Alternatively, you may comment the line below and commit the
# secrets file as long as you replace its contents by environment
# variables.
/config/prod.secret.exs

## Docker

/volumes
.m2
/.env.production
