<span
  class="special-label"
  title="Secret recordings are not listed on your public profile and the recording index, and are hidden from search engines. However they're accessible by anyone you give the secret link."
>
  secret
</span>
