<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= page_title @conn %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="shortcut icon" href="<%= static_path(@conn, "/images/favicon.png") %>">
    <!-- google analytics -->
    <!-- content for head (twitter, open graph tags) -->
  </head>

  <body>
    <%= render "header.html", conn: @conn, current_user: @current_user %>
    <%= render "flash.html", conn: @conn %>

    <div class="main">
      <%= render @view_module, @view_template, assigns %>
    </div>

    <%= render "footer.html", conn: @conn %>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
