<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= page_title @conn %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="shortcut icon" href="<%= static_path(@conn, "/images/favicon.png") %>">
    <!-- google analytics -->
    <!-- content for head (twitter, open graph tags) -->
  </head>

  <body class="simple-layout">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <%= render @view_module, @view_template, assigns %>
        </div>
      </div>
    </div>
  </body>
</html>
