<div class="container">
  <h1>Verifying link...</h1>
</div>

<.form for={@conn} action={~p"/users"} id="login" as={:login}>
  <input type="hidden" name="timezone" value="" />
</.form>

<script>
  const form = document.forms.namedItem("login");
  const timezoneInput = form.querySelector('input[name="timezone"]');
  timezoneInput.value = Intl?.DateTimeFormat?.()?.resolvedOptions?.()?.timeZone || '';
  form.submit();
</script>
