{:components
 {:http #var asciinema.component.yada-listener/yada-listener
  :db   #var asciinema.component.db/hikaricp
  :ragtime #var duct.component.ragtime/ragtime
  :auto-file-store #var asciinema.component.auto-file-store/auto-file-store
  :redis-client #var asciinema.component.redis-client/redis-client
  :a2png #var asciinema.component.a2png/a2png
  :fixed-thread-executor #var asciinema.component.fixed-thread-executor/fixed-thread-executor}
 :endpoints
 {:asciicasts #var asciinema.endpoint.asciicasts/asciicasts-endpoint}
 :dependencies
 {:http {:app :asciicasts}
  :ragtime [:db]
  :asciicasts {:db :db
               :file-store :auto-file-store
               :exp-set :redis-client
               :executor :fixed-thread-executor
               :png-gen :a2png}}
 :config
 {:http
  {:port http-port}
  :db
  {:uri db-uri}
  :ragtime
  {:resource-path "asciinema/migrations"}
  :auto-file-store
  {:path "uploads/"
   :s3-bucket s3-bucket
   :s3-cred {:access-key s3-access-key
             :secret-key s3-secret-key}}
  :redis-client
  {:uri redis-url}
  :a2png
  {:bin-path a2png-bin-path}
  :fixed-thread-executor
  {:threads 2
   :queue-length 16}}}
