<h1>Looking for GIF?</h1>

<p>You can use <a href="https://github.com/asciinema/agg">agg</a> to do it
  yourself. Once you have it installed run the following commands in your
  terminal:</p>

<pre><code>wget -O <%= @asciicast_id %>.cast <%= @file_url %>
agg <%= @asciicast_id %>.cast <%= @asciicast_id %>.gif</code></pre>
