<%= if message = Phoenix.Flash.get(@flash, :info) do %>
  <section class="flash notice">
    <div class="container"><%= message %></div>
  </section>
<% end %>

<%= if message = Phoenix.Flash.get(@flash, :error) do %>
  <section class="flash alert">
    <div class="container"><%= message %></div>
  </section>
<% end %>
