<footer>
  <div class="container">
    <div class="grid-cols-2">
      <div>
        Powered by <a href="https://docs.asciinema.org/manual/server/">asciinema server</a>
      </div>

      <div>
        <a href={~p"/about"}>About {@conn.host}</a>
      </div>
    </div>
  </div>
</footer>
