<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta name="csrf-token" content={Plug.CSRFProtection.get_csrf_token()} />
    <title><%= page_title(@conn) %></title>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/css/app.css")} />
    <link rel="shortcut icon" href={Routes.static_path(@conn, "/images/favicon.png")} />

    <%= if function_exported?(view_module(@conn), :head, 2) do %>
      <%= view_module(@conn).head(view_template(@conn), assigns) %>
    <% end %>
  </head>

  <body class={"l-app " <> body_class(@conn)}>
    <%= render("_header.html",
      conn: @conn,
      current_user: @current_user,
      default_stream: assigns[:default_stream]
    ) %>

    <%= render("_flash.html", flash: @flash) %>

    <main role="main" class={assigns[:main_class]}>
      <%= @inner_content %>
    </main>

    <%= render("_footer.html", conn: @conn) %>
    <script phx-track-static src={Routes.static_path(@conn, "/js/app.js")}>
    </script>
  </body>
</html>
