<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title><%= page_title @conn %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app#{@conn.assigns[:asset_suffix]}.css") %>">
    <link rel="shortcut icon" href="<%= Routes.static_path(@conn, "/images/favicon.png") %>">
    <%= render_existing @view_module, "meta." <> @view_template, assigns %>
  </head>

  <body class="l-app <%= body_class(@conn) %>">
    <%= render "_header.html", conn: @conn, current_user: @current_user %>
    <%= render "_flash.html", conn: @conn %>

    <main role="main" class="<%= main_class(@conn) %>">
      <%= @inner_content %>
    </main>

    <%= render "_footer.html", conn: @conn %>

    <%= if !@conn.assigns[:player_v3] do %>
      <script src="<%= Routes.static_path(@conn, "/js/asciinema-player.js") %>"></script>
    <% end %>

    <script src="<%= Routes.static_path(@conn, "/js/app#{@conn.assigns[:asset_suffix]}.js") %>"></script>
  </body>
</html>
