<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title><%= page_title @conn %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>">
    <link rel="shortcut icon" href="<%= Routes.static_path(@conn, "/images/favicon.png") %>">
    <%= render_existing view_module(@conn), "meta." <> view_template(@conn), assigns %>
  </head>

  <body class="l-app <%= body_class(@conn) %>">
    <%= render "_header.html", conn: @conn, current_user: @current_user %>
    <%= render "_flash.html", conn: @conn %>

    <main role="main" class="<%= main_class(@conn) %>">
      <%= @inner_content %>
    </main>

    <%= render "_footer.html", conn: @conn %>
    <script src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
