<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/embed.css") %>">
  </head>

  <body class="iframe">
    <script src="<%= Routes.static_path(@conn, "/js/asciinema-player.js") %>"></script>
    <%= @inner_content %>
  </body>
</html>
