<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
     body { margin: 20px }
     .content {
       background-color: #ddd;
       padding: 20px;
       max-width: 960px;
     }
     p { font-family: serif; font-size: 16px }
    </style>
  </head>

  <body>
    <div class="content">
      <%= render @view_module, @view_template, assigns %>
    </div>
  </body>
</html>
