/* ==========================================================================
 * Fira Code Nerd Font for terminal thumbnails + instructions.
 * ========================================================================== */

@font-face {
    font-family: "FiraCode Nerd Font";
    src:    local(FiraCodeNerdFontMono-Regular),
            url("/fonts/FiraCodeNerdFontMono-Regular.woff2") format("woff2");
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "FiraCode Nerd Font";
    src:    local(FiraCodeNerdFontMono-Bold),
            url("/fonts/FiraCodeNerdFontMono-Bold.woff2") format("woff2");
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
}
