@font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/JetBrainsMono-Regular.woff2") format("woff2");
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/JetBrainsMono-Bold.woff2") format("woff2");
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/JetBrainsMono-Italic.woff2") format("woff2");
    font-stretch: normal;
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/JetBrainsMono-BoldItalic.woff2") format("woff2");
    font-stretch: normal;
    font-style: italic;
    font-weight: 700;
}
