/* ==========================================================================
 * Static page views (About etc).
 * ========================================================================== */

.c-page {
  main {
    h1 {
      font-size: 2rem;
      margin: 4rem 0 2rem;
    }
  }
}

.c-page.a-privacy, .c-page.a-tos {
  main {
    margin-bottom: 6rem;
  }
}
