/* ==========================================================================
 * User settings/edit/delete pages.
 * ========================================================================== */

.c-user.a-edit {
  .user-form {
    form {
      margin-bottom: 3em;
    }
  }

  .install-ids {
    margin: 3em 0;

    .revoked {
      opacity: 0.7;
    }
  }

  a.delete {
    color: var(--color-danger);
    padding: 6px;
    border-radius: 3px;
  }

  a.delete:hover {
    background-color: #dc354520; /* --color-danger with 0x20 alpha */
    text-decoration: none;
  }

  .danger-zone {
    margin-top: 2em;
  }
}

.c-user.a-delete {
  h1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
