/* ==========================================================================
 * User recordings page.
 * ========================================================================== */

.c-user-recording {
  &.a-index {
    .heading {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
      align-items: baseline;
    }

    .heading h2 {
      flex-grow: 1;
      margin-top: 0;
    }
  }
}
