markdown:
  Make sure you have asciinema recorder [installed](/docs/installation).

  To start recording run the following command in your terminal:

      $ asciinema rec

  When you're ready to finish just exit the shell (either by typing `exit`
  or hitting `<C-d>`).
