markdown:
  Make sure you have asciinema recorder [installed](#{docs_path(:installation)}).

  To start recording go to your terminal and run the following command:

      $ asciinema rec

  When you're ready to finish just exit the shell (either by typing `exit`
  or hitting `<C-d>`).
