<h1>Docs</h1>

<ul class="delimited">
  <li>
    <%= link_to_category 'About', docs_path(:about), :about %>
  </li>
  <li>
    <%= link_to_category 'Getting started', docs_path(:record), :record %>
  </li>
  <li>
    <%= link_to_category 'Recorder options', docs_path(:options), :options %>
  </li>
  <%# <li> %>
  <%#   <%= link_to_category 'FAQ', docs_path(:faq), :faq %1> %>
  <%# </li> %>
</ul>
