<h1>Docs</h1>

<ul class="delimited">
  <li>
    <%= category_link 'About', docs_path(:about), :about %>
  </li>
  <li>
    <%= category_link 'Getting started', docs_path(:record), :record %>
  </li>
  <li>
    <%= category_link 'Recording options', docs_path(:options), :options %>
  </li>
  <li>
    <%= category_link 'FAQ', docs_path(:faq), :faq %>
  </li>
</ul>
