<%= render partial: 'docs/script_install' %>
<p>Other installation options, including Homebrew and distro packages (Ubuntu, Fedora, Arch Linux, Gentoo), are <a href='<%= docs_path(:installation) %>'>also available</a>.</p>
