<p>On Linux and Mac OS X, <strong>the easiest way to install asciinema</strong> recorder is to run the following shell command:</p><pre>curl -sL https://asciinema.org/install | sh</pre><p><a href='https://asciinema.org/install'>This script</a> will download the latest asciinema recorder binary for your platform, and install it in your <code>$PATH</code>.</p>
