markdown:

  # About

  Asciinema is the simplest way to record your terminal and share the recordings
  with your fellow geeks.

  It's a free service built with open-source technologies (check the
  [source](https://github.com/sickill/asciinema.org)
  [code](https://github.com/sickill/asciinema)) aiming to be a "go to" place
  for everyone who want to share his terminal Voodoo.

  ## Parts

  The service consists of two parts:

  * Terminal recording utility
  * This site with web based player

  Terminal recorder is a [Python
  script](https://github.com/sickill/asciinema/blob/master/bin/asciinema)
  that acts as a middleman
  ([pseudo-terminal](http://en.wikipedia.org/wiki/Pseudo_terminal) specifically)
  between your shell and your terminal, recording all terminal activity and
  uploading it to [asciinema.org](http://asciinema.org) site.

  Web based player is a JavaScript implementation of
  [VT102 ANSI terminal](http://en.wikipedia.org/wiki/VT102), supporting most ANSI
  control codes and sequences, all text attributes and
  [256 colors](<%= color_check_asciicast_path %>).

  ## Authors

  Asciinema was created by <a href="/~sickill">Marcin Kulik</a> with the help of
  [Michał Wróbel](https://github.com/sparrovv).

  ## Getting in touch

  [twitter.com/asciinema](https://twitter.com/asciinema) |
  [twitter.com/sickill](https://twitter.com/sickill)

  ## Contributing

  [Source code](https://github.com/sickill/asciinema.org) |
  [Issues](https://github.com/sickill/asciinema.org/issues)
