<h1>
  About
</h1>

<p>No nonsense asciicasting for serious hackers</p>

<p>
  <a href="https://twitter.com/asciiio">Follow on Twitter</a> |
  <a href="https://github.com/sickill/ascii.io">Contribute on Github</a> |
  <a href="https://twitter.com/sickill">Meet the authors</a>
</p>

<h2>What?</h2>

<p>
  <strong>ascii.io</strong> lets you record your terminal sessions and share
  them with other geeks simply by running <code>asciiio</code> command in your term.
</p>

<p>
  It is fully open-source platform with aim of being a "go to" place for terminal users
  wanting to share their hackery. Web based player is an implementation of VT100/VT102
  ANSI terminal, supporting most ANSI sequences, all text attributes and 256 colors.
</p>
