- content_for(:title, 'Getting started')

markdown:

  # Getting started

  ## 1. Install the recorder

  The latest stable version of asciinema can always be installed or updated
  to via [pip](http://www.pip-installer.org/en/latest/index.html):

      sudo pip install --upgrade asciinema

  See [installation docs](#{docs_path(:installation)}) for more installation
  methods (Ubuntu, Arch Linux).

  ## 2. Record

  Go to your terminal and run the following command:

      $ asciinema rec

  New shell will be spawned and everything you do in it will get recorded.
  When you're finished simply exit the shell either by typing `exit`
  or hitting `<C-d>`.

  ## 3. Create your profile (optional)

  If you want your recordings to be assigned to your asciinema profile run the
  following command:

      $ asciinema auth

  If you skip this step now, you can always run the above command later and all
  previously recorded asciicasts will automatically get assigned to your new
  profile.

  NOTE: To be able to edit/delete your recordings you have to assign them to
  your profile.

  Btw, see <a href="/~sickill">sickill's profile</a>.
