markdown:

  # Installation

  The latest __stable version__ of asciinema can always be installed or updated
  to via [pip](http://www.pip-installer.org/en/latest/index.html) (prefered) or
  easy\_install:

      sudo pip install --upgrade asciinema

  Alternatively:

      sudo easy_install asciinema

  Or, you can install the __development version__ directly from GitHub:

      sudo pip install --upgrade https://github.com/sickill/asciinema/tarball/master

  Arch Linux users can install the
  [AUR](https://aur.archlinux.org/packages/asciinema/) package:

      yaourt -S asciinema
