- content_for(:title, 'Installation')

markdown:

  # Installation

  The latest stable version of asciinema recorder can always be installed or
  updated to via [pip](http://www.pip-installer.org/en/latest/index.html)
  (prefered) or easy\_install:

      sudo pip install --upgrade asciinema

  Alternatively:

      sudo easy_install asciinema

  ## Ubuntu

  To install native Ubuntu package of asciinema recorder add [zanchey
  ppa](https://launchpad.net/~zanchey/+archive/asciinema) to your software
  sources list:

      sudo apt-add-repository ppa:zanchey/asciinema
      sudo apt-get update
      sudo apt-get install asciinema

  ## Arch Linux

  Arch Linux users can install the
  [AUR](https://aur.archlinux.org/packages/asciinema/) package:

      yaourt -S asciinema
