markdown:

  # Getting started

  ## 1. Install recorder

  The latest __stable version__ of asciinema can always be installed or updated
  to via [pip](http://www.pip-installer.org/en/latest/index.html) (prefered) or
  easy\_install:

      sudo pip install --upgrade asciinema

  Alternatively:

      sudo easy_install asciinema

  Or, you can install the __development version__ directly from GitHub:

      sudo pip install --upgrade https://github.com/sickill/asciinema/tarball/master

  Arch Linux users can install the
  [AUR](https://aur.archlinux.org/packages/asciinema/) package:

      yaourt -S asciinema

  ## 2. Record

  Open your terminal and run following command:

      $ asciinema rec

  New shell instance will be opened and everything you'll do in it will be
  recorded. When you're ready to upload simply exit the shell with `exit`
  command or hit `<C-d>`.

  ## 3. Create profile (optional)

  If you want your recordings to be assigned to your asciinema profile and to be
  able to edit/delete them run this and follow instructions:

      $ asciinema auth

  If you skip this step now, you can always run above command later and all
  previously recorded asciicasts will get automatically assigned to your new
  profile.

  Btw, see [my profile](/~sickill).

  ## Advanced options

  The recorder supports several command-line options. See
  [here](#{docs_path(:options)}) for details.
