<h1>Record!</h1>

<%= markdown do %>
To install or upgrade **ascii.io** recorder, open a terminal and run following command:

    $ curl -sL get.ascii.io | bash

(when using zsh you may need to run `rehash` after above command)

That's it! Now you can start recording your terminal sessions with:

    $ asciiio

If you want your recordings to be assigned to your ascii.io profile (btw, see mine: [~sickill](/~sickill)) run this
and follow instructions:

    $ asciiio auth

See available commands and options with:

    $ asciiio -h
<% end %>
