<h1>Browse</h1>

<ul class="delimited">
  <li>
    <%= category_link 'All', browse_path, :all %>
  </li>

  <li>
    <%= category_link 'Popular', popular_path, :popular %>
  </li>

  <% if current_user -%>
    <li>
      <%= link_to 'Mine', profile_path(current_user) %>
    </li>
  <% end -%>
</ul>
