{:components
 {:file-store #var asciinema.component.local-file-store/local-file-store}
 :config
 {:app
  {:middleware
   {:functions {:stacktrace #var ring.middleware.stacktrace/wrap-stacktrace}
    :applied   ^:replace [:not-found :webjars :ring-defaults :route-aliases :ring-logger :stacktrace]}}
  :http
  {:port 4000}
  :db
  {:uri "jdbc:postgresql://localhost:15432/asciinema_development?user=vagrant"}
  :file-store
  {:path "uploads/"}}}
