markdown:
  # Privacy Policy

  ## Website Visitors

  Like most website operators, Asciinema collects non-personally-identifying
  information of the sort that web browsers and servers typically make
  available, such as the browser type, language preference, referring site, and
  the date and time of each visitor request. Asciinema’s purpose in collecting
  non-personally identifying information is to better understand how
  Asciinema’s visitors use its website. From time to time, Asciinema may
  release non-personally-identifying information in the aggregate, e.g., by
  publishing a report on trends in the usage of its website.

  Asciinema also collects potentially personally-identifying information like
  Internet Protocol (IP) addresses and e-mail adresses. Asciinema does not use
  such information to identify its visitors, however, and does not disclose
  such information, other than under the same circumstances that it uses and
  discloses personally-identifying information, as described below.

  You hereby agree to the registration and use of information described above.

  ## Gathering of Personally-Identifying Information

  Certain visitors to Asciinema website choose to interact with Asciinema in
  ways that require Asciinema to gather personally-identifying information.
  The amount and type of information that Asciinema gathers depends on the
  nature of the interaction. For example, we ask visitors who sign up for an
  account at asciinema.org to provide a username and email address. In each
  case, Asciinema collects such information only insofar as is necessary or
  appropriate to fulfill the purpose of the visitor’s interaction with
  Asciinema. Asciinema does not disclose personally-identifying information
  other than as described below. And visitors can always refuse to supply
  personally-identifying information, with the caveat that it may prevent them
  from engaging in certain website-related activities.

  You hereby agree to the registration and use of information described above.

  ## Aggregated Statistics

  Asciinema may collect statistics about the behavior of visitors to its
  website. For instance, Asciinema may monitor the most popular or the most
  favorited recordings on the asciinema.org site. Asciinema may display this
  information publicly or provide it to others. However, Asciinema does not
  disclose personally-identifying information other than as described below.

  ## Protection of Certain Personally-Identifying Information

  Asciinema discloses potentially personally-identifying and
  personally-identifying information only to those of its employees,
  contractors and affiliated organizations that (i) need to know that
  information in order to process it on Asciinema’s behalf or to provide
  services available at Asciinema’s websites, and (ii) that have agreed not to
  disclose it to others. Some of those employees, contractors and affiliated
  organizations may be located outside of your home country; by using
  Asciinema’s websites, you consent to the transfer of such information to
  them. Asciinema will not rent or sell potentially personally-identifying and
  personally-identifying information to anyone. Other than to its employees,
  contractors and affiliated organizations, as described above, Asciinema
  discloses potentially personally-identifying and personally-identifying
  information only in response to a subpoena, court order or other governmental
  request, or when Asciinema believes in good faith that disclosure is
  reasonably necessary to protect the property or rights of Asciinema, third
  parties or the public at large. If you are a registered user of an Asciinema
  website and have supplied your email address, Asciinema may occasionally send
  you an email to tell you about new features, solicit your feedback, or just
  keep you up to date with what’s going on with Asciinema and our products. We
  primarily use our blog to communicate this type of information, so we expect
  to keep this type of email to a minimum. If you send us a request (for
  example via a support email or via one of our feedback mechanisms), we
  reserve the right to publish it in order to help us clarify or respond to
  your request or to help us support other users. Asciinema takes all measures
  reasonably necessary to protect against the unauthorized access, use,
  alteration or destruction of potentially personally-identifying and
  personally-identifying information.

  ## Cookies

  A cookie is a string of information that a website stores on a visitor’s
  computer, and that the visitor’s browser provides to the website each time
  the visitor returns. Asciinema uses cookies to help Asciinema identify and
  track visitors, their usage of Asciinema website, and their website access
  preferences. Asciinema visitors who do not wish to have cookies placed on
  their computers should set their browsers to refuse cookies before using
  Asciinema’s websites, with the drawback that certain features of Asciinema’s
  websites may not function properly without the aid of cookies.

  ## Privacy Policy Changes

  Although most changes are likely to be minor, Asciinema may change its
  Privacy Policy from time to time, and in Asciinema’s sole discretion.
  Asciinema encourages visitors to frequently check this page for any changes
  to its Privacy Policy. Your continued use of this site after any change in
  this Privacy Policy will constitute your acceptance of such change.

  ------------

  The foundations of this document is based on the same document made available
  by Wordpress.com under the Creative Commons Sharealike license. This
  derivative document is licensed under the [Creative Commons Sharealike
  license](http://creativecommons.org/licenses/by-sa/3.0/).
