.c-asciicast {
  &.a-category {
    main {
      .nav {
        .nav-link {
          padding-left: 0.1em;
        }

        .nav-link.active {
          font-weight: bold;
        }
      }

      .sorting {
        margin-top: 2rem;

        span {
          margin-right: 0.5rem;
          font-size: 0.875rem;
        }
      }

      .pagination {
        margin-top: 1rem;
      }
    }
  }
}

.asciicast-list {
  margin-top: 1.2rem;
}
