@import "./_source_sans_pro.css";

body {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1, h2, h3 {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body, main {
  background-color: #f7f7f7;
}

.c-page, .c-asciicast {
  main {
    h1, h2, h3 {
      margin-top: 2rem;
      margin-bottom: 1rem;
    }

    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.5rem;
    }
  }
}

section.top {
  color: #fff;
  background-color: #222;
  padding: 25px 0;

  h1 {
    font-size: 2.5rem;
    margin: 0;
  }
}
