section.flash {
  max-height: 200px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;

  &.hidden {
    max-height: 0px;
  }

  .container {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    text-align: center;
  }

  &.notice {
    color: white;
    background-color: #06989a;
  }

  &.alert {
    color: black;
    background-color: #c4a000;
  }

  // bootstrap overrides
  margin-bottom: 0;
  padding: 0;
  border: 0;
  border-radius: 0;

  .close {
    color: white;
  }
}
