.l-app {
  footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: white;
    padding: 2rem 0;
    margin-top: 2rem;
    border-top: 1px solid rgba(230,230,230,0.75);
  }
}
