.l-app {
  header {
    .navbar.bg-dark {
      background-color: #000 !important;
    }

    .navbar-brand {
      img {
        height: 24px;
      }
    }

    .session-info {
      img {
        height: 20px;
        margin-right: 0.7rem;
        border-radius: 2px;
      }

      .nav-link-consulting {
        margin-right: 2em;
        background-color: #333;
        font-weight: bold;
        border-radius: 4px;
        border-color: #666;
        border-width: 1px;
        border-style: dashed;
        padding-top: 0.2em;
        margin-top: 0.3em;
        padding-bottom: 0.2em;
      }
    }
  }
}
