.l-app {
  header {
    .navbar.bg-dark {
      background-color: #000 !important;
    }

    .navbar-brand {
      img {
        height: 24px;
      }
    }

    .session-info {
      img {
        height: 20px;
        margin-right: 0.7rem;
        border-radius: 2px;
      }
    }
  }
}
