.c-recording.a-show, .c-live-stream.a-show {
  section.info {
    small {
      font-size: 14px;
    }

    .author-avatar {
      display: block;
      float: left;
      width: 42px;
      height: 42px;
      margin-right: 10px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 3px;
      }
    }

    h2 {
      margin: -0.1rem 0 0 0;
      font-size: 1.4rem;
      position: relative;
    }

    .actions {
      .btn-group > div {
        margin-left: 1rem;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }

  section.meta {
    code {
      color: #212529;
      background-color: #f7f7f7;
    }

    .status-line-item {
      margin-right: 2em;

      .icon {
        svg {
          font-size: 1.5em;
        }
      }

      .icon {
        &.icon-live, &.icon-offline {
          margin-right: 0.5em;
        }
      }
    }
  }

  section.instructions {
    padding-top: 0;

    input[type=text] {
      width: 100%;
      font-family: Consolas, Menlo, 'Bitstream Vera Sans Mono', monospace;
      font-size: 14px;
      color: #212529;
      background-color: #fff;
      border-radius: 3px;
      border: 1px solid #e0e0e0;
      margin-bottom: 8px;
      padding: 9px;
    }

    h2 {
      margin-top: 2em;
    }

    h3 {
      font-weight: 600;
    }
  }
}

.modal-dialog {
  h2:first-child {
    margin-top: 0;
  }

  input[type=text] {
    width: 100%;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 14px;
    color: #212529;
    background-color: #f7f7f7;
    border-radius: 3px;
    border: 1px solid #e0e0e0;
    margin-bottom: 8px;
    padding: 9px;
  }
}
