.simple-layout {
  margin-top: 30px;
  margin-left: 24px;
  margin-right: 24px;

  p {
    font-size: 20px;
  }

  pre {
    font-size: 16px;
    overflow: auto;
    white-space: pre;
  }

  p, pre {
    margin-bottom: 24px;
  }

  h1 {
    margin-bottom: 40px;
  }
}