.c-stream {
  &.a-index {
    h2 {
      margin: 2rem 0 3rem;
    }

    .create-stream {
      float: right;
      margin-right: 10px;
    }

    .stream-list {
      table {
        margin-top: 3rem;
        table-layout: fixed;

        th, td {
          white-space: nowrap;
        }

        th:nth-child(3), td:nth-child(3) {
          overflow: hidden;
          text-overflow: ellipsis;
        }

        th:nth-child(5), td:nth-child(5), th:nth-child(6), td:nth-child(6) {
          text-align: right;
        }
      }

      .action {
        text-align: right;

        > * {
          visibility: hidden;
          margin-left: 1em;
        }
      }

      a:hover {
        text-decoration: none;
      }
    }

    tr:hover {
      background-color: #f0f0f0;

      .action > * {
        visibility: visible;
      }
    }
  }
}
