.c-user.a-edit {
  .user-form {
    form {
      margin-bottom: 2em;
    }
  }

  .install-ids {
    margin: 2em 0;

    .revoked {
      opacity: 0.7;
    }
  }

  .danger-zone {
    margin-top: 2em;
  }
}

.c-user.a-delete {
  h1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
