.login-form {
  input.email {
    width: 250px;
    margin-right: 10px;
  }

  .hpf-wrapper {
    position: absolute;
    left: -9999px;
  }
}

.username-form {
  input#user_username {
    width: 200px;
  }
}

.c-login {
  h2 {
    margin-top: 30px;
  }
}
