:root {
  --white: #fff;
  --navbar-dark-color: rgba(255, 255, 255, 0.85);
  --navbar-dark-hover-color: #fff;
  --link-color: #06989a;
  --pagination-active-bg: #06989a;
  --primary: #06989a;
}

@import "~bootstrap/dist/css/bootstrap.css";
@import "./_icons.css";
@import "./_base.css";
@import "./_header.css";
@import "./_footer.css";
@import "./_flash.css";
@import "./_recording_card.css";
@import "./_recording_list.css";
@import "./_recording_show.css";
@import "./_simple_layout.css";
@import "./_stream_list.css";
@import "./_user_profile.css";
@import "./_user_login.css";
@import "./_user_edit.css";
@import "./fonts/powerline-symbols.css";
@import "./fonts/fira-code-nerd-font.css";
@import "./fonts/jetbrains-mono-nerd-font.css";
@import "~asciinema-player/dist/bundle/asciinema-player.css";

.c-recording.a-index {
  h2 {
    font-weight: 600;

    a {
      color: #333333;
    }
  }
}

.c-username {
  #user_username {
    max-width: 200px;
  }
}