$white: #fff;
$navbar-dark-color: rgba($white, .85);
$navbar-dark-hover-color: $white;

@import "~bootstrap/scss/bootstrap";


.l-app {
  header {
    .navbar-brand {
      img {
        height: 24px;
      }
    }

    .session-info {
      img {
        height: 20px;
        margin-right: 0.7rem;
      }
    }
  }

  footer {
    padding: 2rem 0;
    margin-top: 4rem;
    border-top: 1px solid rgba(230,230,230,0.75);

    .links {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-right: 20px;
      }
    }

    .brightbox-logo {
      display: inline-block;
      margin-top: 5px;
    }
  }
}

.c-page {
  main {
    h1, h2, h3 {
      margin-top: 2rem;
      margin-bottom: 1rem;
    }

    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.5rem;
    }
  }

  .bitcoin-logo {
    width: 32px;
    margin-right: 10px;
  }

  #paypal-form {
    .button {
      margin-right: 15px;
      vertical-align: middle;
    }

    span {
      vertical-align: middle;
      margin-right: 10px;

      label {
        margin-left: 0.2rem;
      }
    }
  }
}
