@import "./_source_sans_pro.css";
@import "../vendor/css/asciinema-player.css";
@import "./powerline-symbols.css";

body.iframe {
  background-color: transparent;
  padding: 0;
  margin: 0;

  .powered {
    margin: 4px 0 0 0;
    text-align: right;
    font-size: 12px;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

    a {
      font-weight: 600;
      color: #06989a;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
