@import "./fonts/fira-code-nerd-font.css";
@import "./fonts/jetbrains-mono-nerd-font.css";
@import "~asciinema-player/dist/bundle/asciinema-player.css";
@import "./fonts/powerline-symbols.css";

body.iframe {
  color: #333;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-family: sans-serif;

  .powered {
    margin: 8px 0 0 0;
    text-align: right;
    font-size: 13px;

    a {
      color: inherit;
      font-weight: 600;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
