<h2>Docs</h2>

<ul class="nav flex-column">
  <%= topic_link @conn, @active_topic, :"how-it-works" %>
  <%= topic_link @conn, @active_topic, :"getting-started" %>
  <%= topic_link @conn, @active_topic, :installation %>
  <%= topic_link @conn, @active_topic, :usage %>
  <%= topic_link @conn, @active_topic, :config %>
  <%= topic_link @conn, @active_topic, :embedding %>
  <li class="nav-item"><a class="nav-link" href="https://discourse.asciinema.org/c/faq">FAQ</a></li>
</ul>
