<span
  class="special-label"
  title="Secret streams are not listed on stream index and are hidden from search engines. However they're accessible by anyone you give a secret link."
>
  private
</span>
