<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Verifying link...</h1>
    </div>
  </div>
</div>

<.form for={@conn} action={~p"/session"} id="login" as={:login}></.form>

<script>
  document.forms.namedItem("login").submit();
</script>
