<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Not Found</title>
    <link rel="stylesheet" href="<%= Routes.static_path(AsciinemaWeb.Endpoint, "/css/app.css") %>">
    <link rel="shortcut icon" href="<%= Routes.static_path(AsciinemaWeb.Endpoint, "/images/favicon.png") %>">
  </head>

  <body class="simple-layout">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>404 Not Found</h1>
          <p>This page doesn't exist. Sorry!</p>
        </div>
      </div>
    </div>
  </body>
</html>
