/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

.clear {
  clear: both;
  display: block;
  visibility: hidden;
}

img.avatar {
  border: 1px solid #aaa;
  background-color: white;
  padding: 1px;
  width: 32px;
}

.navbar .nav li.avatar {
  a {
    padding: 3px 0 0 0;

    img {
      border: 0;
      padding: 0;
    }
  }
}

footer {
  margin-top: 100px;
}
