@mixin normal-text {
  font-size: 14px;
  font-weight: normal;
}

.asciicast-heading {
  // width: 100%;
  // background-color: #222;

  .meta {
    @include normal-text;
    float: right;
  //   .avatar {
  //     width: 24px;
  //     padding: 1px;
  //     background-color: white;
  //     border: 1px solid #ccc;
  //   }
  }

  .edit-title {
    @include normal-text;
  }

  // .description {
  //   color: #3e3e3e;
  //   font-family: arial, helvetica;
  //   font-size: 18px;
  //   margin: 20px 0;
  // }
}

.asciicast-delete-link {
  color: #d00;
}

.asciicast {
  .player {
    margin-bottom: 40px;
  }
}

.asciicast-preview {
  margin-bottom: 15px;

  .meta {
    font-size: 14px;
    font-weight: normal;
  }

  .description {
    font-style: italic;
  }
}
