@import 'terminal-font';
@import 'shared';

.extras {
  .author {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;

    h2 {
      position: absolute;
      top: 0;
      left: 60px;
      width: 150px;

      a {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 22px;
        width: 150px;
        white-space: nowrap;
      }

    }

    p {
      position: absolute;
      top: 23px;
      left: 60px;
    }

    img {
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px;
      float: left;
      width: 48px;
    }
  }

  a {
    font-size: 14px;
    line-height: 25px;
  }
}

.asciicast-wrapper {
  width: 100%;
  padding: 0;
  margin: 0;
}

.description {
  ul, ol {
    list-style: initial;
  }
}

div.presentation {
  float: left;
  margin: 0 38px 20px 0;
  width: 210px;
  font-size: 15px;
  position: relative;

  .preview {
    @include terminal-font;

    background-color: white;
    color: #333;
    overflow: hidden;
    word-wrap: normal;
    white-space: pre;
    border: 15px solid white;
    border-radius: 4px;
    margin: 1em 0 0.6em 0;
    padding: 0;
  }

  .info {
    h3 {
      @include font;
      letter-spacing: 0;
      font-weight: 300;
      font-size: 18px;
      line-height: 1.2;
      margin: 0 0 10px;
      word-wrap: break-word;

      a {
        color: #333;
      }
    }

    p.date {
      color: #777;
      margin: -8px 0 10px;
    }
  }
}

.supplimental {
  div.presentation:nth-child(3n+1) {
    clear: left;
  }

  div.presentation:nth-child(3n) {
    margin-right: 0;
  }
}

.presentations {
  clear: both;
}

.other-asciicasts {
  margin-top: 70px;
}
