@import 'shared';

h1, h2, h3, legend {
  @include font;
  font-weight: 300;
  color: #EFEFEF;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1em;
  text-rendering: optimizelegibility;
}

h1 {
  font-size: 30px;
  line-height: 1;
  margin: 0 0 20px;
  word-wrap: break-word;
}

h2 {
  color: #54B85F; // USED?
  font-size: 26px;
  line-height: 1;
  margin-bottom: 10px;
}

h3 {
  font-size: 16px;
  margin: 0;
}

ol, ul {
  list-style: none;
}

body {
  font-family: "Helvetica Neue", Helvetica, "Liberation Sans", FreeSans, Arial, sans-serif;
  // font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  font-weight: 300;
  letter-spacing: 0;
  font-size: 15px;
  line-height: 1.4;
  background: #333;
  color: #999;
  margin: 0;
  padding: 0;
}

div {
  margin: 0;
  padding: 0;
  font: inherit;
}

p {
  font: inherit;
}

a {
  color: $main-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p.links {
  float: left;
}

.pagination {
  @include font;
  clear: both;
  font-size: 18px;
}

a img {
  border: none;
}

.supplimental {
  background: #E4E4E4;
  border-top: 1px solid white;
  border-bottom: 1px solid #CCC;
  color: #555;

  h1, legend {
    font-size: 30px;
    color: #333;
    clear: both;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #333;
  }

  .main h2 {
    @include font;
    margin-top: 40px;
    font-size: 20px;
    line-height: 24px;
  }

  .extras h2 {
    @include font;
    font-weight: 300;
    color: $main-color;
    font-size: 20px;
    line-height: 24px;
  }
}

div.wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 0;
}

.main {
  width: 710px;
  float: left;
}

.extras {
  width: 210px;
  float: right;

  p {
    color: #555;
    font-size: 15px;
    margin: 0 0 00px;
  }

  .avatar {
    // background: blue;
    float: right;
    margin: 2px 0 8px 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    width: 48px;

    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.2) 0 0 0 1px,rgba(0,0,0,0.3) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.3) 0 1px 3px;
  }
}

.cursor-block {
  background-color: white;
  // font-size: 40px;

  &::after {
    content: 't';
  }
}

.feature {
  border-top: 1px solid #2D2D2D;
}

section {
  clear: both;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 25px 10px;
}

section::after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.play-button {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0;

  .arrow {
    text-align: center;
    font-weight: bold;
  }
}

ul.delimited {
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  margin: 0 0 20px;
  padding: 0;
  font-size: 14px;

  li {
    padding: 5px 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    overflow: hidden;
  }

  a {
    display: block;
  }
}

.divider-vertical {
  width: 30px;
  height: 36px;
  float: left;
}

.vertical-expander {
  height: 300px;
}

.extras ul li .active {
  font-weight: bold;
}

.main {
  ul, ol {
    list-style: initial;
    padding-left: 30px;
  }
}
