.comments-container {
  margin-top: 80px;
}

#new-comment {
  textarea {
    width: 960px;
    height: 80px;
  }
}

li.comment {
  list-style-type: none;
  margin: 20px 10px;
  width: 450px;

  .left {
    float: left;
    width: 50px;
  }

  .right {
    float: left;
    width: 350px;
  }

//   .when {
//     color: #969696;
//   }

  .user-name{
    color: #2786C2;
  }
  .body {
    padding: 20px 0;
  }
}
