// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.info {
  text-align: center;
  font-family: 'Trebuchet MS';
  font-size: 50px;
  margin-bottom: 100px;
}
