@font-face {
  font-family: 'Overpass';
  src: url("fonts/overpass-bold-wf.eot");
  src: url("fonts/overpass-bold-wf.eot?#iefix") format("eot"), url("fonts/overpass-bold-wf.woff") format("woff"), url("fonts/overpass-bold-wf.ttf") format("truetype"), url("fonts/overpass-bold-wf.svg#webfontzRhIMntw") format("svg");
  font-weight: bold;
  font-style: normal
}

@font-face {
  font-family: 'Overpass';
  src: url("fonts/overpass-wf.eot");
  src: url("fonts/overpass-wf.eot?#iefix") format("eot"), url("fonts/overpass-wf.woff") format("woff"), url("fonts/overpass-wf.ttf") format("truetype"), url("fonts/overpass-wf.svg#webfontiqWxLEM5") format("svg");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'OverpassNormal';
  src: url("fonts/overpass-wf.eot");
  src: url("fonts/overpass-wf.eot?#iefix") format("eot"), url("fonts/overpass-wf.woff") format("woff"), url("fonts/overpass-wf.ttf") format("truetype"), url("fonts/overpass-wf.svg#webfontiqWxLEM5") format("svg");
  font-weight: normal;
  font-style: normal
}
