// Place all the styles related to the Asciicasts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$color1: #00A0B0;
$color2: #6A4A3C;
$color3: #CC333F;
$color4: #EB6841;
$color5: #EDC951;

// .asciicasts {
//   list-style: none;

//   .asciicast-preview {
//     h3 {
//       font-size: 16px;

//       a {
//         color: $color1;
//       }
//     }

//     margin-bottom: 30px;
//   }
// }

.player {
  /* border: 1px solid #777;*/
  /* background-color: #333;*/
  float: left;
  display: block;
  padding: 0px;
  // margin: 0px 0px 30px 20px;
  position: relative;

  &.not-started .hud .toggle {
    background-color: $color4;

    .play {
      display: inline;
    }

    .pause {
      display: none;
    }
  }

  .terminal, .font-sample, .hud {
    font-family: 'Bitstream Vera Sans Mono', 'Courier New', monospace;
    font-size: 12px;
    line-height: inherit;
  }

  .terminal {
    overflow: hidden;
    padding: 2px;
    margin: 0px;
    display: block;
    white-space: pre;
    background-color: black;
    color: #ccc;

    .line {
      /* background-color: black;*/
      /* padding: 0;*/
      /* margin: 0;*/
    }

    &.cursor-on {
      .line {
        .cursor.visible {
          background-color: #D3D7CF;
        }
      }
    }
  }

  .loading {
    background-image: url(image-path('loader.gif'));
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .start-prompt {
    background-image: url(image-path('play-button-1.png'));
    background-repeat: no-repeat;
    background-position: center;
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
  }

  .hud {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: #eee;
    opacity: 0;
    position: absolute;
    left: 2px;
    right: 2px;
    bottom: 2px;
    color: black;

    -webkit-transition: opacity 0.3s ease-in-out;

    .toggle {
      background-color: black;
      color: white;
      cursor: pointer;

      .play {
        display: none;
      }

      .pause {
        display: inline;
      }

      &.paused {
        background-color: $color4;

        .play {
          display: inline;
        }

        .pause {
          display: none;
        }
      }

    }

    .progress {
      color: black;
      cursor: pointer;

      span:hover {
        background-color: #777;
      }
    }

    .time {
      background-color: black;
      color: white;
    }
  }

  &:hover .hud {
    opacity: 1.0;
  }

  .bright { font-weight: bold }
  .underline { text-decoration: underline }
  .italic { font-style: italic }

  .fg8 { font-weight: bold }
  .fg9 { font-weight: bold }
  .fg10 { font-weight: bold }
  .fg11 { font-weight: bold }
  .fg12 { font-weight: bold }
  .fg13 { font-weight: bold }
  .fg14 { font-weight: bold }
  .fg15 { font-weight: bold }

}
