.login-form
  input.email
    width: 250px
    margin-right: 10px

.profile-page
  .cinema
    .user-avatar
      float: left
      width: 64px
      height: 64px

      img
        width: 100%
        height: 100%

    h1
      display: inline-block
      margin: 0 0 0 15px
      font-size: 38px

      small
        display: block
        font-size: 16px
        margin-top: 6px

    .actions
      margin: 20px 0 0 0
