<div class="container">
  <div class="recording-index-layout">
    <div>
      <div class="heading">
        <h2><a href={~p"/explore"}>Explore</a> &raquo; Featured recordings</h2>
      </div>

      <div class="asciicast-list">
        <div :for={asciicast <- @asciicasts}>
          <RecordingHTML.card asciicast={asciicast} />
        </div>
      </div>

      <.pagination_links page={@asciicasts} />
    </div>
  </div>
</div>
