<div class="container">
  <h2>Change email</h2>
  <p>Confirm to finish changing your email address to <strong>{@email}</strong>.</p>

  <.form for={@conn} action={~p"/user/email"} method="put">
    <input type="hidden" name="t" value={@token} />
    <button type="submit" class="btn btn-primary">Change email</button>
  </.form>
</div>
