It seems you have requested deletion of your <%= @hostname %> account.

If you wish to proceed, open the following link in your browser:

<%= url(~p"/user/delete?t=#{@token}") %>


If you did not initiate this request, just ignore this email.
