<p>Welcome back!</p>

<p>Click the following link to log in to your <%= @hostname %> account:</p>

<p><a href="<%= url(~p"/session/new?t=#{@token}") %>"><%= url(~p"/session/new?t=#{@token}") %></a></p>

<p>
  <br>
  If you did not initiate this request, just ignore this email. The request will expire shortly.
</p>
