<p>Welcome to <%= @hostname %>!</p>

<p>Click the following link to setup your new account:</p>

<p><a href="<%= url(~p"/users/new?t=#{@token}") %>"><%= url(~p"/users/new?t=#{@token}") %></a></p>

<p>
  <br>
  If you did not initiate this request, just ignore this email. The request will expire shortly.
</p>
