<% if @asciicast.user == current_user %>
  <ul class="delimited">
    <li>
      <a href="javascript:void(0)" class="js-embed">Copy embed HTML</a>
    </li>

    <li>
      <%= link_to 'Edit title & description',
          edit_asciicast_path(@asciicast) %>
    </li>

    <li>
      <%= link_to_delete_asciicast 'Delete', @asciicast %>
    </li>
  </ul>
<% end %>
