<div class="asciicast">
  <div class="wrapper">
    <%= render :partial => 'player', :locals => { :asciicast => asciicast } %>
    <div class="clear"></div>
  </div>

  <% unless (defined? skip_description) && skip_description %>
    <div class="description">
      <%= markdown do %><%= asciicast.description.to_s %><% end %>
    </div>
  <% end %>
</div>
