<div class="asciicast">
  <div class="wrapper">
    <div class="player"></div>
    <div class="clear"></div>
  </div>

  <% unless (defined? skip_description) && skip_description %>
    <div class="description">
      <%= random_description %>
    </div>
  <% end %>
</div>

<%= player_script(asciicast) %>
