<div class="asciicast">
  <div class="wrapper">
    <div class="player"></div>
    <div class="clear"></div>
  </div>

  <div class="description">
    <%= random_description %>
  </div>
</div>

<%= player_script(asciicast) %>
