<%= @asciicast.user.avatar_profile_link %>

<h2>
  <%= @asciicast.author_profile_link %>
</h2>

<% if @asciicast.user.asciicasts_count -%>
  <p><%= @asciicast.user.asciicasts_count %> asciicasts</p>
<% end -%>
