<% if asciicast.private? %>
  <% content_for(:head) do %>
    <meta name="robots" content="noindex, nofollow">
    <meta name="referrer" content="none">
  <% end %>
<% end %>

<div class="player"></div>

<div class="processing-info" style="display: none">
  <p>
    This recording is being pre-processed at the moment. It will open automatically in a few seconds.
  </p>
  <p>
    Feel free to contact <a href="mailto:support@asciinema.org">support@asciinema.org</a> if it takes longer.
  </p>
</div>

<script>
  $(function() {
    tryCreatePlayer(
      $('.player')[0],
      <%= asciicast.to_json.gsub('</', '<\/').html_safe %>,
      <%= options.as_json.merge(skip_titlebar ? {} : {
        title: asciicast.title,
        author: asciicast.author_display_name,
        authorURL: asciicast.author_url,
        authorImgURL: asciicast.author_avatar_url
      }).to_json.gsub('</', '<\/').html_safe %>
    );
  });
</script>
