<% if asciicast.private? %>
  <% content_for(:head) do %>
    <meta name="robots" content="noindex, nofollow">
    <meta name="referrer" content="origin">
  <% end %>
<% end %>

<% if asciicast.ready? %>
  <%= player_tag asciicast, options, skip_titlebar %>
<% else %>
  <% content_for(:head) do %>
    <meta http-equiv="refresh" content="5">
  <% end %>

  <div class="container">
    <div class="processing-info">
      <p>
        This recording is being pre-processed at the moment. It will open automatically in a few seconds.
      </p>
      <p>
        Feel free to contact <a href="mailto:admin@asciinema.org">admin@asciinema.org</a> if it takes longer.
      </p>
    </div>
  </div>
<% end %>
