p
  ' Well, the way they make shows is, they make one show. That show's called a
    pilot. Then they show that show to the people who make shows, and on the
    strength of that one show they decide if they're going to make more shows.
    Some pilots get picked and become television programs. Some don't, become
    nothing. She starred in one of the ones that became nothing.

= embed_script(@asciicast).html_safe

p
  ' And now again. There should be an embedded player below this paragraph.

= embed_script(@asciicast).html_safe

p
  ' This is at the bottom of the page, below all players.

  ' Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is
    advertised as the most popular gun in American crime. Do you believe that shit?
    It actually says that in the little book that comes with it: the most popular
    gun in American crime. Like they're actually proud of that shit. 
