<section class="supplimental">
  <div class="wrapper">
    <div class="main">
      <h1><%= @category_name %></h1>
      <%= render :partial => 'asciicasts/previews' %>
      <%= paginate @asciicasts %>
    </div>

    <div class="extras">
      <%= render :partial => 'shared/browse_categories' %>
    </div>
  </div>
</section>
