<div class="page-header">
  <h1>All asciicasts</h1>
</div>

<ul class="asciicasts">
  <%= render :partial => "asciicasts/preview", :collection => @asciicasts, :as => :asciicast %>
</ul>

<%= paginate @asciicasts %>
