<h2>Some title</h2>

<ul class="asciicasts">
  <% @asciicasts.each do |asciicast| %>
    <li class="asciicast">
      <a href="/<%= asciicast.id %>"><%= asciicast.id %></a>
    </li>
  <% end %>
</ul>
