= player @asciicast

javascript:
  $(function() {
    var target = parent.postMessage ? parent : (parent.document.postMessage ? parent.document : undefined);
    if (typeof target != "undefined" && window !== window.parent) {
      var w = $('.player').css('width');
      var h = $('.player').css('height');
      target.postMessage(['asciicast:size', { id: #{@asciicast.id}, width: w, height: h }], '*');
    }
  });
