ul.session-info
  - if current_user
    li.username
      => current_user.img_link(:title => '')
      =  current_user.link(:title => '')
      ul.menu
        li
          a.settings href=edit_user_path Settings
        li
          a.logout href=logout_path Log out
  - else
    li
      a href=login_path Log in
