<ul id="session-info">
  <% if current_user %>
    <li>
      <%= avatar_img current_user %>
      <%= link_to "Log out", logout_path %>
    </li>
  <% else %>
    <li><%= link_to "Log in", login_path %></li>
  <% end %>
</ul>
