doctype html
html[lang="en"]
  head
    meta[charset="utf-8"]
    title = page_title
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag "player"
    = favicon_link_tag 'favicon.png'
    = render :partial => 'layouts/current_user_js'
    = render :partial => 'layouts/ga'
    script
      | window.mainWorkerPath = '#{javascript_path "main_worker"}';
  body
    header
      .wrapper
        h1
          a href="/"
            ' ascii.io
            span.cursor-block
        .navigation
          = render :partial => 'layouts/navigation'
          .divider-vertical
          = render :partial => 'layouts/session_info'
    - flash.each do |type, message|
      p[class=type] = message
    #content
      = content_for?(:content) ? yield(:content) : yield
    footer
      .wrapper
        p.links
          = link_to 'About', docs_path(:about)
        p.title
          ' Created by
          = link_to 'Marcin Kulik', 'https://github.com/sickill'
          img.avatar alt="Marcin" src="http://gravatar.com/avatar/9cecfc695240b56e5d3c1a5dc3830967"
