<% content_for :content do %>
  <section class="supplimental">
    <div class="wrapper">
      <div class="main">
        <% cache do -%>
          <%= yield %>
        <% end -%>
      </div>

      <div class="extras">
        <%= render :partial => 'docs_topics' %>
      </div>
    </div>
  </section>
<% end -%>

<%= render :template => 'layouts/application' %>
